Repository Cutting-Edge-technologies/abonement, pull requests merged in 2022-11, with the labels that each got.

#6 3 separation of concerns
  .env
  package-lock.json
  package.json
  src/App.css
  src/App.test.tsx
  src/App.tsx
  src/Root.test.tsx
  src/buildEnvioroments.ts
  src/common/store/commonReducer.ts
  src/common/store/errorSlice.ts
  src/common/store/loadingSlice.ts
  src/common/store/utils.ts
  src/common/types/utility.ts
  src/common/utilities/createCommand.ts
  src/common/utilities/safeEffect.ts
  src/index.tsx
  src/student/commands/studentCommands.test.tsx
  src/student/index.tsx
  src/teacher/api/exampleApi.ts
  src/teacher/commands/example/exampleCommands.ts
  src/teacher/commands/example/teacherExample.test.tsx
  src/teacher/commands/index.tsx
  src/teacher/commands/teacherCommands.test.tsx
  src/teacher/hoc/Example/index.tsx
  src/teacher/index.tsx
  src/teacher/store/example/index.tsx
  src/teacher/store/index.ts
  src/teacher/store/rootReducer.ts
Labels: app structure

#11 3 separation of concerns state and selectors
  src/common/selectors/commonSelectors.ts
  src/common/store/sagaMonitor.ts
  src/common/store/utils.ts
  src/common/types/utility.ts
  src/teacher/commands/example/teacherExample.test.tsx
  src/teacher/store/example/selectors.ts
  src/teacher/store/index.ts
Labels: store and selectors

#12 Added interfaces
  src/common/types/domain.ts
  src/common/types/utility.ts
Labels: app structure

#15 10 teacher state
  src/common/store/editingEntitySlice.test.ts
  src/common/store/editingEntitySlice.ts
  src/common/store/externalResourceSlice.test.ts
  src/common/store/externalResourceSlice.ts
  src/common/types/domain.ts
  src/common/types/teacherDomainView.ts
  src/teacher/store/domainView/index.ts
  src/teacher/store/modal/index.ts
  src/teacher/store/rootReducer.ts
  src/teacher/store/teacherEditables.ts
  src/teacher/store/teacherExternalResources.ts
  src/teacher/store/teacherState.test.tsx
Labels: store and selectors

#18 add dumme comands
  src/teacher/commands/domain/domain.ts
  src/teacher/commands/editable/editable.ts
  src/teacher/commands/novigation/navigation.ts
Labels: command

#25 16 teacher commands red tests
  src/common/store/editingEntitySlice.test.ts
  src/common/store/editingEntitySlice.ts
  src/common/store/externalResourceSlice.test.ts
  src/common/store/externalResourceSlice.ts
  src/common/types/domain.ts
  src/common/utilities/createCommand.ts
  src/teacher/commands/editable/editable.test.ts
  src/teacher/commands/editable/editable.ts
  src/teacher/commands/index.tsx
  src/teacher/selectors/editable.ts
  src/teacher/store/domainView/index.ts
  src/teacher/store/teacherEditables.ts
  src/teacher/store/teacherExternalResources.ts
Labels: command

#23 14 separation of concerns api
  src/teacher/api/example/exampleApi.ts
  src/teacher/api/example/index.ts
  src/teacher/commands/example/exampleCommands.ts
  src/teacher/commands/example/teacherExample.test.tsx
  src/teacher/store/example/index.tsx
Labels: app structure

#31 13 separation of concerns hoc
  .npmrc
  .storybook/main.js
  .storybook/preview.js
  package-lock.json
  package.json
  public/img/teacher.jpeg
  src/common/store/sagaMonitor.ts
  src/common/store/utils.ts
  src/teacher/commands/example/exampleCommands.ts
  src/teacher/hoc/Example/Example.stories.tsx
  src/teacher/hoc/Example/Example.test.tsx
  src/teacher/hoc/Example/index.tsx
  src/teacher/hoc/TeacherStateDecorator/index.tsx
  src/teacher/store/index.ts
Labels: HOC
